# shellfolders.rc - examples for accessing the various system folders

[submenu] (All Shellfolders)
  [path] (admintools)         {ADMINTOOLS}
  [path] (altstartup)         {ALTSTARTUP}
  [path] (appdata)            {APPDATA}
  [path] (bitbucket)          {BITBUCKET}
  [path] (common_admintools)  {COMMON_ADMINTOOLS}
  [path] (common_altstartup)  {COMMON_ALTSTARTUP}
  [path] (common_appdata)     {COMMON_APPDATA}
  [path] (common_desktopdirectory) {COMMON_DESKTOPDIRECTORY}
  [path] (common_documents)   {COMMON_DOCUMENTS}
  [path] (common_favorites)   {COMMON_FAVORITES}
  [path] (common_programs)    {COMMON_PROGRAMS}
  [path] (common_startmenu)   {COMMON_STARTMENU}
  [path] (common_startup)     {COMMON_STARTUP}
  [path] (common_templates)   {COMMON_TEMPLATES}
  [path] (connections)        {CONNECTIONS}
  [path] (controls)           {CONTROLS}
  [path] (cookies)            {COOKIES}
  [path] (desktop)            {DESKTOP}
  [path] (desktopdirectory)   {DESKTOPDIRECTORY}
  [path] (drives)             {DRIVES}
  [path] (favorites)          {FAVORITES}
  [path] (fonts)              {FONTS}
  [path] (history)            {HISTORY}
  [path] (internet)           {INTERNET}
  [path] (internet_cache)     {INTERNET_CACHE}
  [path] (local_appdata)      {LOCAL_APPDATA}
  [path] (mypictures)         {MYPICTURES}
  [path] (nethood)            {NETHOOD}
  [path] (network)            {NETWORK}
  [path] (personal)           {PERSONAL}
  [path] (printers)           {PRINTERS}
  [path] (printhood)          {PRINTHOOD}
  [path] (profile)            {PROFILE}
  [path] (program_files)      {PROGRAM_FILES}
  [path] (program_files_common)   {PROGRAM_FILES_COMMON}
  [path] (program_files_commonx86)  {PROGRAM_FILES_COMMONX86}
  [path] (program_filesx86)     {PROGRAM_FILESX86}
  [path] (programs)           {PROGRAMS}
  [path] (recent)             {RECENT}
  [path] (sendto)             {SENDTO}
  [path] (startmenu)          {STARTMENU}
  [path] (startup)            {STARTUP}
  [path] (system)             {SYSTEM}
  [path] (systemx86)            {SYSTEMX86}
  [path] (templates)          {TEMPLATES}
  [path] (windows)            {WINDOWS}
[end]
