# ------------------------------------------------------
# bbLeanbar 1.17 - configuration

# Lines starting with # or ! are ignored

# ---------------------
# The items on the bar:
# This builds a toolbar with tasks and tray. You can
# change the order of items or uncomment some of the
# currently disabled (!) items)

bbleanbar.item: WorkspaceLabel
bbleanbar.item: WorkspaceButtonL
bbleanbar.item: WorkspaceButtonR
bbleanbar.item: Tasks
bbleanbar.item: CurrentOnlyButton
bbleanbar.item: Tray
bbleanbar.item: WindowButtonL
bbleanbar.item: WindowButtonR
bbleanbar.item: Clock

!bbleanbar.item: TaskStyleButton
!bbleanbar.item: WindowLabel
!bbleanbar.item: NewLine
!bbleanbar.item: Space

# ----------------
# General Settings (ctrl-right-click menu)
bbLeanBar.placement: TopCenter
bbLeanBar.position.x: 128
bbLeanBar.position.y: 0
bbLeanBar.widthPercent: 80
bbLeanBar.useSlit: false
bbLeanBar.AutoHide: false
bbleanbar.OnTop: true
bbleanbar.autoRaise: true
bbleanbar.snapToEdge: true
bbLeanBar.pluginToggle: true

bbleanbar.alpha.enabled: false
bbleanbar.alpha.value: 200

# ---------
# Task Tabs
bbLeanBar.tasks.style: 2
bbLeanBar.tasks.maxWidth: 100
bbLeanBar.tasks.reverse: false
bbLeanBar.tasks.current: true
bbLeanBar.tasks.sysmenu: false
bbLeanBar.tasks.drawBorder: false

------------
# Icons
bbLeanBar.smallIcons: true
bbLeanBar.icon.saturation: 20
bbLeanBar.icon.hue: 60

# ------------
# Clock-Format
bbLeanBar.strftimeFormat: %d %a %#H:%M

# ---------------
# Special Options
bbLeanBar.autoFullscreenHide: true
bbLeanBar.setDesktopMargin: true
bbLeanBar.sendToSwitchTo: true
bbLeanBar.sendToGesture: true

# -------------------------
# hidden icons (auto saved)
bbLeanBar.tray.hidden.count: 0
